.flex-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex: 1;
}

.book-list-thumb {
  height: 200px;
  border: 1px solid blue;
}

ul.list-covers {
  display: block;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
}

.list-covers li {
  list-style-type: none;
  display: inline-block;
  width: 180px;
  border: 1px solid blue;
}

.book-container {
  position: relative;
  width: 100%;
  display: inline-block;
  margin: 5px 10px;
}

.book-container img {
  width: 100%;
}
