#detail-info ul {
    list-style: none;
    display: inline-block;
    padding: 0;
}

#detail-info li {
    display: inline-block;
    margin: .5em
}

#theme-header {
    display: inline-block;
    font-weight: bold;
    padding: 
}

#detail-info ul button {
    padding: 0;
    padding: .25em;
    background-color: #787777;
    border: 2px solid #6F6E6E;
}

#detail-info ul button:hover {
    background-color: #4B4B4B;
    border: 2px solid #D1D1D1;
}

#detail-image-col img {
    width: 100%;
    margin: 1em auto;
    border: solid 2px #000;
}

#detail-title {
    font-weight: bold;
    font-size: 35px;
    margin: 10px;
}

#detail-author {
    font-size: 30px;
    text-align: right;
}

#detail-description {
    font-size: 18px;
    text-align: justify;
}

#detail-isbn {
    font-size: 14px;
    font-style: italic;
}

.hide {
    display: none;
}

#add-recommendation {
    text-align: center;
}

#add-recommendation-button {
    margin: 10px auto;
    padding: 1em;
    background-color: #F5D967;
    border: 2px solid #4B4B4B;
    font-size: 20px;
    color: #4B4B4B;
}

#add-recommendation-button:hover {
    background-color: #4B4B4B;
    border: 2px solid #D1D1D1;
}

#detail-recommendations {
    background-color: rgba(75, 75, 75, .3);
    border-radius: 10px;
    padding: 20px;
}

#detail-recommendations h3 {
    font-size: 18px;
    font-style: italic;
}

#detail-recommendations p {
    font-size: 22px;
}